DB_NAME=# this can be anything you want
DB_USERNAME=# this can be anything you want
DB_PASSWORD=# this can be anything you want
DB_HOST=db
DB_PORT=5432

SECRET_KEY=# this can be anything you want

APP_NAME="One N' Done Country Club"
API_BASE_URL="http://localhost:8000/api" # development api url

RABBITMQ_USER=# this can be anything you want
RABBITMQ_PASSWORD=# this can be anything you want

GOLF_DATA_API_BASE_URL="https://www.thesportsdb.com/api/v1/json" # thesportsdb golf api
GOLF_DATA_API_KEY=123 # available at https://www.thesportsdb.com/documentation