# Custom gitignore for the OneNDoneGolf Project

# environment variables
.env

# pytest cache
.pytest_cache/

# vscode settings
.vscode/

# PostgreSQL local Docker storage
data/

# node versions
client-web/package-lock.json
client-web/node_modules/

# pytest config
backend/pytest.ini